---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import TodosLosProyectos from "@/sections/TodosLosProyectos.astro"
---

<Layout title="Proyectos">
  <main>
    <TodosLosProyectos />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
</style>
