---
import Perfil from '@/sections/Perfil.astro';
import Layout from '@/layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
import ProyectosRecientes from '@/sections/ProyectosRecientes.astro';
---

<Layout title="Sobre Mi">
	<main>
		<Perfil />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 50px;

	}
</style>
