---

---

<section>
    <div>
        <h1>Blog de documentación de proyectos</h1>
        <p>Soy Orlando Téllez y el objetivo de esta página es ver mi progreso de desarrollador Junior a Full stack</p>
    </div>
</section>

<style>
    section {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        max-width: 1024px;
    }
</style>