---

---

<section>
  <div class="contenedor-datos">
    <figure>
      <img src="imagenes/imagenes-perfil/gojo.jpg" alt="" />
    </figure>
    <article>
      <h2>Orlando</h2>
      <p>Desarrollador web con JavaScript</p>
    </article>
    <div class="contenedor-botones">
      <a href="https://portafolio-orlando-tellez-ot.vercel.app/" target="_blank" no-openner no-referrer>Portafolio</a>
      <a href="/" target="_blank">Cv</a>
    </div>
  </div>
</section>

<style>
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
  }

  .contenedor-datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  figure {
    width: 250px;
  }

  img {
    border-radius: 100%;
    max-width: 100%;
  }

  .contenedor-botones {
    display: flex;
    gap: 20px;
  }

  .contenedor-botones a {
    background-color: var(--color-bordes);
    padding: 10px 20px;
    border-radius: 10px;
  }

  .contenedor-botones a:nth-of-type(2) {
    background-color: var(--color-botones-relevantes);
  }

  p{
    color: var(--color-texto-sombreado);
  }
</style>
