---

import TarjetasDeProyectos from "@/components/TarjetasDeProyectos.astro";
import { getCollection } from "astro:content";

const proyectos = await getCollection("proyectos");
---

<section>
  <div class="section-container">
    <h2>Proyectos Recientes</h2>
    <div class="contenedor-tarjetas">
      {
        proyectos.map((proyecto) => (
          <TarjetasDeProyectos
            titulo={proyecto.data.titulo}
            descripcion={proyecto.data.descripcion}
            imagen={proyecto.data.imagen}
            slug={proyecto.slug}
          />
        ))
      }
    </div>
  </div>
</section>

<style>
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px 20px;
    gap: 20px;
    max-width: 1024px;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contenedor-tarjetas {
    width: 100%;
    display: grid;
    place-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  @media only screen and (min-width: 1024px) {
    section {
      padding-inline: 0px;
    }
  }
</style>
