---

---

<section>
    <div>
        <slot />
    </div>
</section>

<style>
    section {
        width: 100%;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section div{
        max-width: 1024px;
        width: 100%;
    }

</style>
