---

---

<section>
    <div>
        <slot />
    </div>
</section>

<style>
    section {
        width: 100%;
        padding: 80px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section div{
        max-width: 1024px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 50px;
        line-height: 25px;
    }

    
</style>
