---
import '@fontsource-variable/newsreader';
import Header from '@/components/Header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root{
		--color-principal: #261A33;
		--color-secundario: #261A33;
		--color-bordes: #4D3366;
		--color-texto: #ffffff;
		--titulo: 48px;
		--subtitulo: 32px;
		--titulos-pequeños: 22px;
		--texto: 16px;
	}

	*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	a{
		text-decoration: none;
		color: white;
	}
	h1{
		font-size: var(--titulo);
	}

	h2{
		font-size: var(--subtitulo);
	}

	p{
		font-size: var(--texto);
	}
	

	html {
		font-family: 'Newsreader Variable', serif;
		background: var(--color-principal);
		color: var(--color-texto);
	}

	
</style>
